window.notification-popups box.notifications {
    padding: .5em;
    margin-top: 5em;
  margin-left: -10px;
}
.notification {
  min-width: 250px;
  padding: 1em;
  margin: .5em;
  opacity: 1;
  border-right: 10px solid @wm_borders_edge;
  border-top: 2px solid @wm_borders_edge;
  background: linear-gradient(45deg, transparent 10px, @theme_bg_color 0);
}


.notif-icon {
    min-width: 20px;
    min-height: 20px;
    margin-right: 1em;
}

.notif-icon image {
    font-size: 20px;
    /* to center the icon */
    margin: 5px;
    color: @theme_fg_color;
}

.notif-icon box {
    min-width: 20px;
    min-height: 20px;
}


.notification.critical {
  border-right: 10px solid lightcoral;
  border-top: 2px solid lightcoral;
}

.title {
  color: @theme_fg_color;
  font-size: 1.4em;
}

.body {
  color: @theme_unfocused_fg_color;
}

.actions .action-button {
  margin: 0 .4em;
  margin-top: .8em;
}

.actions .action-button:first-child {
  margin-left: 0;
}

.actions .action-button:last-child {
  margin-right: 0;
}
