@import "mocha.css";

* {
  padding: 0;
  margin: -1.9 0;
  font-family: JetBrainsMono Nerd Font;
  font-size: 10px;
}

window#waybar {
  background-color: rgba(8, 8, 17, 1);
  border-radius: 0px;
}

/* ------ Cpu Usage, Temperature, and Memory ------ */
#cpu, #temperature, #memory {
  padding: 0px 5px;
  margin: 0px 2px;
}

#cpu { 
  background-color: rgba(0, 0, 0, 0);
  color: @blue;
  border-bottom: 4px solid @blue;
  }
#memory { border-bottom: 4px solid @blue; color: @blue; }
#temperature { border-bottom: 4px solid @red; color: @red; }

/* ------ Window Title ------ */
#window {color: @text; }

/* ------ Workspaces ------ */
#workspaces {
  background-color: rgba(0, 0, 0, 0) ;
  border-bottom: 4px solid @blue;
  padding: 0px 5px;
  margin: 0px 2px;
}
#workspaces button {
  margin: -7px 0px;
}
#workspaces button:nth-child(1) label {
  color: @peach;
}

#workspaces button:nth-child(2) label {
  color: @mauve;
}

#workspaces button:nth-child(3) label {
  color: @maroon;
}

#workspaces button:nth-child(4) label {
  color: @sapphire;
}

#workspaces button:nth-child(5) label {
  color: @peach;
}

#workspaces button:nth-child(6) label {
  color: @mauve;
}

#workspaces button:nth-child(7) label {
  color: @maroon;
}

#workspaces button:nth-child(8) label {
  color: @sapphire;
}

#workspaces button:nth-child(9) label {
  color: @peach;
}

#workspaces button:nth-child(10) label {
  color: @mauve;
}

/* ------ Backlight ------*/
#backlight {
  color: @yellow;
  padding: 0px 5px;
  margin: 0px 2px;
  border-bottom:4px solid @yellow;
}

/* ------ Pulseaudio ------ */
#pulseaudio {
  color: @white;
  padding: 0px 5px;
  margin: 0px 2px;
  border-bottom: 4px solid @white;
}

/* ------ Network ------ */
#network {
  background-color: rgba(0, 0, 0, 0) ;
  padding: 0px 5px;
  margin: 0px 2px;
  color: @blue;
  border-bottom: 4px solid @blue;
}

/* ------ Battery ------ */
#battery {
  color: @green;
  padding: 0px 5px;
  margin: 0px 2px;
  border-bottom: 4px solid @green;
}

/* ------ Clock ------ */
#clock {
  padding: 0px 15px;
  color: @text;
  font-weight: bold;
  font-size: 10px;
}

/* ------ System Tray ------ */
#tray {
  color: @mauve;
  border-bottom: 4px solid @surface1;
  padding: 0px 5px;
  margin: 0px 2px;
}

/* ------ Custom Modules ------ */
#custom-icon {
  font-size: 18px;
  color: @blue;
  padding-right: 5px;
}

#custom-separator-arrow {
  font-size: 15px;
  color: @text;
}

#custom-separator-dot {
  font-size: 20px;
  color: @text;
}

#custom-spotify {
  color: @mauve;
  background-color: @surface1;
  padding: 0px 5px;
  margin: 0px 2px;
}
