@import "mocha.css";

* {
  padding: 0;
  margin: 0;
  font-family: JetBrainsMono Nerd Font;
  font-size: 10px;
}

window#waybar {
  background-color: rgba(12, 12, 17, 1);
  border-radius: 8px;
}

/* ------ Set a Uniform Border Radius ------ */
#workspaces, #cpu, #memory, #temperature, #workspaces, #backlight, #pulseaudio, #network, #battery, #tray {
  border-radius: 8px;
}

/* ------ Cpu Usage, Temperature, and Memory ------ */
#cpu, #temperature, #memory {
  background-color: @surface1;
  color: @subtext0; 
  padding: 2px 5px;
  margin: 2px 2px;
}

#cpu { 
  background-color: rgba(0, 0, 0, 0.5);
  color: @blue;
  border: 2px solid @blue;
  }
#memory { background-color: @blue; }
#temperature { background-color: @red; }

/* ------ Window Title ------ */
#window {color: @text; }

/* ------ Workspaces ------ */
#workspaces {
  background-color: rgba(0, 0, 0, 0.5) ;
  border: 2px solid @blue;
  padding: 0px 5px;
  margin: 2px 2px;
}
#workspaces button {
  margin: -7px 0px;
}
#workspaces button:nth-child(1) label {
  color: @peach;
}

#workspaces button:nth-child(2) label {
  color: @mauve;
}

#workspaces button:nth-child(3) label {
  color: @maroon;
}

#workspaces button:nth-child(4) label {
  color: @sapphire;
}

#workspaces button:nth-child(5) label {
  color: @peach;
}

#workspaces button:nth-child(6) label {
  color: @mauve;
}

#workspaces button:nth-child(7) label {
  color: @maroon;
}

#workspaces button:nth-child(8) label {
  color: @sapphire;
}

#workspaces button:nth-child(9) label {
  color: @peach;
}

#workspaces button:nth-child(10) label {
  color: @mauve;
}

/* ------ Backlight ------*/
#backlight {
  background-color: @yellow;
  padding: 2px 5px;
  margin: 2px 2px;
  color: @subtext0;
}

/* ------ Pulseaudio ------ */
#pulseaudio {
  background-color: @blue;
  padding: 2px 5px;
  margin: 2px 2px;
  color: @subtext0;
}

/* ------ Network ------ */
#network {
  background-color: rgba(0, 0, 0, 0.5) ;
  padding: 2px 5px;
  margin: 2px 2px;
  color: @blue;
  border: 2px solid @blue;
}

/* ------ Battery ------ */
#battery {
  background-color: @green;
  padding: 2px 5px;
  margin: 2px 2px;
  color: @subtext0;
}

/* ------ Clock ------ */
#clock {
  padding-left: 15px;
  color: @text;
  font-weight: bold;
  font-size: 10px;
}

/* ------ System Tray ------ */
#tray {
  color: @mauve;
  background-color: @surface1;
  padding: 2px 5px;
  margin: 2px 2px;
}

/* ------ Custom Modules ------ */
#custom-icon {
  font-size: 18px;
  color: @blue;
  padding-right: 5px;
}

#custom-separator-arrow {
  font-size: 15px;
  color: @text;
}

#custom-separator-dot {
  font-size: 20px;
  color: @text;
}

#custom-spotify {
  color: @mauve;
  background-color: @surface1;
  padding: 2px 5px;
  margin: 2px 2px;
}
