$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};

window.OSD {
    box.OSD {
        border-radius: 100px;
        background-color: $bg-color;
        padding: 8px 8px;
        margin: 13px;
        box-shadow: 3px 3px 7px 0 rgba(0,0,0,.4);
    }

    icon {
        font-size: 2rem;
    }

    label {
        font-size: 1.8rem;
    }

    levelbar {
        trough {
            margin: 1 .6rem;
            border-radius: 1rem;
        }

        block {
            min-height: 1rem;
            border-radius: 1rem;
        }
        highlight {
            border-radius: 1rem;
        }
        slider {
            border-radius: 1rem;
        }
    }
}
