/* bg = Background */
/* hbg = Higher Background*/
/* fg = Foreground */
/* accent = Accent */
/* radius = Border Radius */
/* sradius = Small Border Radius */

$bg: #080812;
$hbg: #12131f; 
$fg: #dfdfff; 
$accent: #dfdfff; 
$radius: 1rem; 
$sradius: 0.5rem;
$item: #afafff;

/*
$fg: #080812;
$hbg: #ffffff; 
$bg: #dfdfff; 
$accent: #dfdfff; 
$radius: 1rem; 
$sradius: 0.5rem;
 */ 

