@use "../theme.scss";
@use "./Panel.scss";
@use "./NotificationCenter.scss";
@use "sass:color";

window.Bar .Panelcontainer .container {
    border: none;
    box-shadow: none;
    background-color: transparent;
    color: theme.$fg;
    font-size: 1.1em;
    font-weight: bold;
    margin-left: -5px;
        icon {
        font-size: 15px;
    }
        > centerbox {
            background-color: theme.$bg;
            border-radius: theme.$radius;
            padding: 10px 0px;
            margin: 10px;
            /*box-shadow: 0px 0px 5px 0px black;*/
            button {
                all: unset;
                &:hover label {
                    background-color: color.adjust(theme.$fg, $alpha: -0.84);
                }

                &:active label {
                    background-color: color.adjust(theme.$fg, $alpha: -0.8)
                }
            }

            label {
                transition: 200ms;
                padding: 8px 0px;
                margin: 0px;
                font-size: 10px;
                border-radius: theme.$radius;
                border: 1pt solid transparent;
            }
            .home-button {
                background-color: color.adjust(theme.$fg, $alpha: -0.9);
                background-size: cover;
                margin: 5px;
                border-radius: 20%;
                padding: 15px;
            }
            .Workspaces {
                background-color: theme.$hbg;  
                color: theme.$bg;  
                border-radius: theme.$sradius;
                margin: 5px;
                * {
                    all: unset;
                    transition: background-color 0.2s, padding 0.2s, margin 0.2s;
                }
                button {
                    border-radius: theme.$sradius;
                    color: color.adjust(theme.$fg, $alpha: -0.9);
                }
                button:hover {
                    background-color: transparent ;
                }
                label {
                    font-weight: 800;
                    padding: 2px 9px;
                    border-radius: theme.$sradius;
                }
                .focused{
                    background-color: color.adjust(theme.$fg, $alpha: -0.9);
                    border-radius: theme.$sradius;
                    border-color: theme.$accent;
                    padding: 8px 0;
                }
                .occupied {
                    color: theme.$fg;
                }
                .focused.occupied {
                    color: theme.$bg;
                    background-color: theme.$accent
                }
            }
            .tray-box {
                margin: 10px;
                .tray-button {
                    font-size: 12px;
                } 
                > revealer > box > * {
                    padding: 5px 0 0 0;
                }
                label {
                    all: unset;
                }
                button {
                    &:active label {
                        all:unset
                    }
                    &:hover label {
                        all:unset
                    }
                }
            }
            .MediaPlayer {
                box {
                    background-color: theme.$hbg;
                    margin: 5px;
                    border-radius: theme.$sradius;
                    button {
                        &:hover{
                            background-color: color.adjust(theme.$fg, $alpha: -0.9);
                            border-radius: theme.$sradius;
                            transition: background-color 0.5s;
                        }
                        padding: 10px 0;
                        .progress {
                            min-height: 30px;
                            font-size: 2px;
                            margin: 0px;
                            color: theme.$fg;
                            background-color: theme.$bg;
                        }
                    }
                }
            } 
            .Wifi {
                font-size: 18px;
                margin: 5px 0;
            }

            .Media .Cover {
                min-height: 1.2em;
                min-width: 1.2em;
                border-radius: theme.$radius;
                background-position: center;
                background-size: contain;
            }
            
            box.ctrl {
                background-color: theme.$hbg;
                border-radius: theme.$radius;
                margin: 0 5px;
                padding: 3px;
                .Battery {
                    icon {
                        font-size: 20px;
                    }
                    label {
                        padding: 2px 0;
                        margin: 0 -10px;
                    }
                }
                .BrightnessSlider {
                    padding: 0;
                    * {
                        all: unset;
                    }
                    label {
                        font-size: 10px;
                    }
                    icon {
                        padding: 5px 0;
                    }

                    trough {
                        background-color: color.adjust(theme.$fg, $alpha: -0.8);
                        border-radius: theme.$radius;
                    }

                    highlight {
                        background-color: theme.$accent;
                        min-height: .8em;
                        border-radius: theme.$radius;
                    }

                    slider {
                        background-color: transparent;
                        border-radius: theme.$radius;
                        min-height: 1em;
                        min-width: 1em;
                        margin: -.2em;
                    }

                }
                .AudioSlider {
                    padding: 0;
                    * {
                        all: unset;
                    }

                    icon {
                        font-size: 15px;
                        padding: 5px 0;
                    }

                    trough {
                        background-color: color.adjust(theme.$fg, $alpha: -0.8);
                        border-radius: theme.$radius;
                    }

                    highlight {
                        background-color: theme.$accent;
                        min-height: .8em;
                        border-radius: theme.$radius;
                    }

                    slider {
                        background-color: transparent;
                        border-radius: theme.$radius;
                        min-height: 1em;
                        min-width: 1em;
                        margin: -.2em;
                    }
                }
            }

            .Time {
                padding: 10px 0;
                label {
                    font-size: 18px;
                    padding: 0;
                    margin-bottom: -5px;
                }
            }
        }
}
