@use "sass:color";
@use "../theme.scss";

window.Bar .Panelcontainer .notification_box {
    > .notification_center {
        background-color: theme.$bg;
        box-shadow: 0 0 5px 0 black;
        border-radius: 0 theme.$radius theme.$radius 0;
        min-width: 300px;
        margin-right: 10px;
        * {
            border: 0px solid transparent;
        }
        .nav_menu {
            margin: 5px;
            > button {
                background-color: transparent;
                > icon {
                    font-size:20px; 
                }
            }
            .home_button {
                margin-left: 5px;
                > box {
                    icon {
                        font-size: 15px;
                        padding: 0 5px;
                    }
                    label {
                        font-weight: bold;
                    }
                }
            }
        }
        .header {
            border-bottom: 1px solid theme.$hbg;
            padding-bottom: 5px;
            .title {
                font-weight: bold;
                padding-left: 10px;
            }
            .clear_notifications {
                font-weight: bold;
                margin-right: 10px;
                color: theme.$bg;
                background-color:  theme.$accent;
                .clear {
                    padding-right: 10px;
                    border-right: 1px solid color.adjust(theme.$accent, $lightness: -10%)
                }
            }
        }
        .no_notification {
            font-weight: bold;
            font-size: 10px;
            color: grey;
        }
    }
}
