@use "../theme.scss";
@use "sass:color";

window.Bar .Panelcontainer .Panel {
    min-width: 300px;
    margin-right: 10px;
    box-shadow: 0 0 5px 0 black;
    border-radius: 0 theme.$radius theme.$radius 0;
    background-color: theme.$bg;
    > centerbox {
        box { 
            .nav_menu {
                margin: 5px;
                > button {
                    background-color: transparent;
                    > icon {
                        font-size:20px; 
                    }
                }
                .notif_button {
                    margin-left: 5px;
                    > box {
                        icon {
                            font-size: 15px;
                            padding: 0 5px;
                        }
                        label {
                            font-weight: bold;
                        }
                    }
                }
            }
            .user_box { 
                padding: 20px 100px 20px 20px;
                margin: 5px;
                border-radius: theme.$radius;
                background-color: color.adjust(theme.$fg, $alpha: -0.95);
                font-weight: bold;
                background-image: linear-gradient(
                    to right, 
                    color.adjust(theme.$bg, $alpha: -0.5) 18%, 
                    transparent 18%
                    );
                .batterystat {
                    font-size: 3px;
                    background-color: theme.$hbg;
                    color: #ddffdd;
                    margin: 0;
                    min-height: 50px;
                    .face {
                        padding: 30px;
                        margin: 5px;
                        border-radius: 100%;
                        background-size: cover;
                    }
                }
            }
            .desktop_controls {
                margin: 5px;
                .buttons {
                    background-color: color.adjust(theme.$fg, $alpha: -0.95);
                    padding: 5px;
                    border-radius: theme.$radius;
                    .ctrl button{
                        min-width: 95px;
                        padding: 0;
                        box {
                            > box {
                            border-radius: theme.$sradius;
                            padding: 1px 0px 1px 5px;
                            }
                            > label {
                                font-weight: bold;
                                
                            }
                            .status {
                                font-weight:normal;
                                font-size: 8px;
                                color: grey;
                            }
                            .active {
                                background-color: theme.$accent;
                                color: theme.$bg;
                            }
                        }
                    }
                    .screenshot > button{
                      margin:unset;
                      padding-left:5px;
                      padding-right:5px;
                    }
                }
                .sliders {
                    * {
                        all: unset;
                        font-weight: bold;
                    }
                    .icon {
                        font-size: 20px;
                    }
                    .brightness_slider {
                        > box {
                            background-color: color.adjust(theme.$fg, $alpha: -0.95);
                            padding: 5px;
                            border-radius: theme.$sradius;
                            margin-right: 12px;
                        }
                        > label {
                            padding-left: 12px;
                        }
                    }
                    button {
                        background-color: theme.$hbg;
                        padding: 0 10px 0 6px;
                        border-radius: theme.$sradius;
                    }
                    trough {
                        background-color: color.adjust(theme.$fg, $alpha: -0.8);
                        border-radius: theme.$radius;
                    }

                    highlight {
                        background-color: theme.$item;
                        background-image: linear-gradient(to right, theme.$item, theme.$accent);
                        min-height: .8em;
                        border-radius: theme.$radius;
                    }
                    slider {
                        background-color: transparent;
                        border-radius: theme.$radius;
                        min-height: 1em;
                        min-width: 1em;
                        margin: -.2em;
                    }

                }
            }
            .MediaPlayer {
                all: unset;
                background-position: center;
                background-color: theme.$hbg;
                margin: 5px;
                border-radius: theme.$radius;
                .coverfilter {
                    background-color: color.adjust(theme.$bg, $alpha: -0.5);
                    background-image: linear-gradient(
                         to top,
                         #00000055 ,
                         #00000000 
                         );
                    padding: 10px;
                    .control {
                        background-color: color.adjust(theme.$bg, $alpha: -0.9);
                        border-radius: theme.$sradius;
                        margin-left: 10px;
                        .actions {
                            button {
                                padding: 0px 5px;
                            }
                        }
                        .musicvolume {
                            all:unset;
                            * {
                                all:unset;
                            }
                            trough {
                                background-color: color.adjust(theme.$fg, $alpha: -0.8);
                                border-radius: theme.$radius;
                            }
                            highlight {
                                background-color: theme.$item;
                                background-image: linear-gradient(to top, theme.$item, theme.$accent);
                                min-height: .8em;
                                border-radius: theme.$radius;
                            }
                            slider {
                                background-color: transparent;
                                border-radius: theme.$radius;
                                min-height: 1em;
                                min-width: 1em;
                                margin: -.2em;
                            }
                        }
                    }
                }
            }
            .timesbox {
                background-color: theme.$hbg;
                border-radius: theme.$radius;
                margin: 10px;
                .calendar {
                    border: 0px;
                    background-color: transparent;
                    &:selected {
                        background-color: theme.$accent;
                        color: theme.$bg;
                    }
                }
                .dates {
                    label {
                        font-weight: bold;
                        font-size: 20px; 
                    }
                    padding-left: 15px;
                    padding-bottom: 10px;
                    padding-top: 10px;
                    border-bottom: 1px solid color.adjust(theme.$fg, $alpha: -0.8);
                }
                .cal box{
                    background-color: color.adjust(theme.$bg, $alpha: -0.5);
                    border-radius: 0 0 theme.$radius 0;
                    padding: 5px;
                    label {
                        font-size: 30px; 
                        font-weight: bolder;
                    }
                }
            }
        }
    }
}
